@font-face {
    font-family: Cream;
    src: url(./config/fonts/cream-DEMO.ttf);
}

.donationBody {
    width: 60%;
    text-align: center;
    /* background-color: gray; */
    margin: auto
}

.faq {
    text-align: left;

}

.cumDrive {
    width: 250px;
    margin: auto;
}

body {
    font-family: Cream;
    background-color: #141414;
    color: white;
}

a {
    color: greenyellow;
}

footer {
    margin: auto;
    text-align: center;
    font-size: 10pt;
}

hr {
    width: 80%;
    size: 2;
    color: white;
}

@media only screen and (max-width: 600px) {
    .donationBody {
        width: 350px;
    }
}