@font-face {
    font-family: Cream;
    src: url(./config/fonts/cream-DEMO.ttf);
}

.donationBody {
    width: 60%;
    text-align: center;
    /* background-color: gray; */
    margin: auto
}

.faq {
    text-align: left;

}

.cumDrive {
    width: 250px;
    margin: auto;
}

body {
    font-family: Cream;
    background-color: #141414;
    color: white;
}

a {
    color: greenyellow;
}

footer {
    margin: auto;
    text-align: center;
    font-size: 10pt;
}

hr {
    width: 80%;
    size: 2;
    color: white;
}

.linkList {
    padding-left: 0;
}

.linkList a {
    display: flex;
    /* height: 100%;
    width: 100%; */
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.linkList li {
    list-style-type: none;
    padding: 0;
}

.linkList li div {
    background-color: #fb6d9c;
    width: 350px;
    height: 50px;
    margin: auto;
    border-radius: 20px;
    font-size: 15pt;
    display: flex;
    justify-content: center;

}

.logo {
    height: 40px;
}

@media only screen and (max-width: 600px) {
    .donationBody {
        width: 350px;
    }
}